{% extends "layouts/layout-main.html" %}
{% block content %}
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<div class="row"><div class="col"><hr></div></div>
<div class="row">
    <div class="col">
        <h1><i class="lnr lnr-briefcase"></i> Project Dashboard</h1>
    </div>
    <div class="col">
        <div class="text-right">
            <div class="btn btn-danger"><i class="lnr lnr-trash"></i> Delete Project</div>
            <div class="btn btn-info"><i class="lnr lnr-rocket"></i> Workspace</div>
        </div>
    </div>
</div>
<div class="row"><div class="col"><hr></div></div>
<div class="row">
    <div class="col">
        <br>
        <div class="text-center">
            <h3>HR Left Predictions</h3>
            <p><i>Start At: 1 Januray 2017</i></p>
        </div>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col">
                <h4>Project Heatmap</h4>
            </div>
            <div class="col">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" id="prev-cal"><i class="lnr lnr-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" id="next-cal"><i class="lnr lnr-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <hr>
        <div id="cal" width="100%"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <br>
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a href="#charts" class="nav-link active" aria-controls="charts" role="tab" data-toggle="tab">Charts <span class="badge badge-primary">1</span></a></li>
            <li class="nav-item"><a href="#models" class="nav-link" aria-controls="models" role="tab" data-toggle="tab">Models <span class="badge badge-primary">1</span></a></li>
            <li class="nav-item"><a href="#merge" class="nav-link" aria-controls="merge" role="tab" data-toggle="tab">Merge Request <span class="badge badge-primary">1</span></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="charts">
                <div class="row">
                    <div class="col">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card border-primary">
                            <img src="http://placehold.it/300x200" alt="" class="">
                            <div class="card-body">
                                <div class="text-right">
                                    <button class="btn btn-success btn-sm"><i class="lnr lnr-download"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="lnr lnr-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="models">
                <div class="row">
                    <div class="col">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card border-primary">
                            <div class="card-body">
                                <div class="text-center">
                                    <p>Model #1</p>
                                    <img src="{{ url_for('static', filename='img/cube.png') }}" alt="">
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <p>1 January 2017</p>
                                    </div>
                                    <div class="col">
                                        <div class="text-right">
                                            <button class="btn btn-success btn-sm"><i class="lnr lnr-magnifier"></i></button>
                                            <button class="btn btn-danger btn-sm"><i class="lnr lnr-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="merge">
                <div class="row">
                    <div class="col">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="30%">From</th>
                                    <th width="30%">Date</th>
                                    <th width="35%">Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>YC (<a href="#">Detail</a>)</td>
                                    <td>02 February 2017</td>
                                    <td>
                                        <button class="btn btn-success"><i class="lnr lnr-checkmark-circle"></i> Accept</button>
                                        <button class="btn btn-danger"><i class="lnr lnr-trash"></i> Reject</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<script>
    var cal = new CalHeatMap();
    cal.init({
        itemSelector: "#cal",
        domain: "day",
        data: "http://cal-heatmap.com/datas-years.json",
        start: new Date(2000, 0),
        cellSize: 9,
        range: 24,
        previousSelector: "#prev-cal",
        nextSelector: "#next-cal",

        legend: [2, 4, 6, 8]
    });
</script>

{% endblock %}