<!doctype html>
<html lang="en">
    <head>
        <title>Workspace</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Linear Icon CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='linear/style.css') }}">

        <!-- Flow -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.flowchart.min.css') }}">

        <!-- Intro JS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/introjs.css') }}">

        <!-- Query Builder -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/query-builder.default.min.css') }}"> -->

        <!-- Form Helper -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrapformhelpers/css/bootstrap-formhelpers.min.css') }}">

        <!-- Halfling -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/glyphicons-halflings.css') }}">

        <!-- Bootstrap Select -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

        <!-- Multiselect -->
        <link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.css') }}">

        <!-- Custom Scrollbar -->
        <link rel="stylesheet" href="{{ url_for('static', filename='custom-scroll/jquery.mCustomScrollbar.css') }}">

        <!--Query Builder Package -->
        <link rel="stylesheet" href="{{ url_for('static', filename='query-builder/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='query-builder/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='query-builder/examples/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='query-builder/examples/bower_components/selectize/dist/css/selectize.bootstrap3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='query-builder/dist/css/query-builder.default.css') }}" id="qb-theme">
        <!--End of Query Builder Package -->
    </head>
    <body>
        <style>
            strong{
                font-weight: bold;
                color: black;
            }
        </style>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hr> 
                    <div  class="text-center">
                        <h1>Report</h1>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2><img src="{{ url_for('static', filename='img/data.png') }}" alt="" style="width: 32px; margin-bottom: 9px;"> Data</h2>
                    <div id="table-list" style="overflow-x: scroll"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><img src="{{ url_for('static', filename='img/chart.png') }}" alt="" style="width: 32px; margin-bottom: 9px;"> Chart</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div id="chart-list"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <h2><img src="{{ url_for('static', filename='img/cube.png') }}" alt="" style="width: 32px; margin-bottom: 9px;"> Model</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="model-list"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <hr>
                        <p>2017 Stardust</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
        <!-- <script src="{{ url_for('static', filename='query-builder/bower_components/jquery/dist/jquery.js') }}"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ url_for('static', filename='js/intro.js') }}"></script>

        <style>
            .ui-autocomplete { z-index:2147483647; }
        </style>

        <!-- <script src="{{ url_for('static', filename='js/doT.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jQuery.extendext.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/query-builder.min.js') }}"></script> -->

        <script src="{{ url_for('static', filename='bootstrapformhelpers/js/bootstrap-formhelpers.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
        
        <script src="{{ url_for('static', filename='ios-loader/js/spin.min.js') }}"></script>        
        <script src="{{ url_for('static', filename='ios-loader/js/iosOverlay.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='ios-loader/css/iosOverlay.css') }}">
        

        <script>
            $(document).ready(function(){
                var opts = {
                    lines: 13, // The number of lines to draw
                    length: 11, // The length of each line
                    width: 5, // The line thickness
                    radius: 17, // The radius of the inner circle
                    corners: 1, // Corner roundness (0..1)
                    rotate: 0, // The rotation offset
                    color: '#FFF', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false, // Whether to use hardware acceleration
                    className: 'spinner', // The CSS class to assign to the spinner
                    zIndex: 2e9, // The z-index (defaults to 2000000000)
                    top: 'auto', // Top position relative to parent in px
                    left: 'auto' // Left position relative to parent in px
                };

                var target = document.createElement("div");
                document.body.appendChild(target);
                var spinner = new Spinner(opts).spin(target);
                var overlay = iosOverlay({
                    text: "Loading",
                    spinner: spinner
                });
                var metadata = {{ metadata | safe }};
                console.log(JSON.stringify(metadata));
                $.post("/api/run", {metadata: JSON.stringify(metadata)}, function(res){
                    console.log(JSON.stringify(res));
                    $("#table-list").append(res['data_html']);
                    res['chart'].forEach(element => {
                        $("#chart-list").append('<div class="row"><div class="col-sm-12"><div class="text-center"><div class="card"><img src="' + element['img'] + '" alt="Card image" class="img-responsive"><div class="card-footer text-muted"><div class="text-right"><a href="' + element['img'] + '" download="filename.jpg" class="btn btn-primary btn-sm"><i class="lnr lnr-download"></i></a>&nbsp;<button class="btn btn-success btn-sm"><i class="lnr lnr-checkmark-circle"></i> Save</button></div></div></div></div></div></div>');
                    });
                    res['model_html'].forEach(element => {
                        $("#model-list").append(element);
                    });
                    overlay.update({
                        text: "Success!",
                        icon: "{{ url_for('static', filename='ios-loader/img/check.png') }}"
                    });
                    window.setTimeout(function(){
                        overlay.hide();
                    }, 50);
                });
            });

            function download_file(str){
                console.log(str);
                //window.open = str;
                //$.post('/api/downloadbase64', {'img': str}, function(retData) {
                    //alert(retData);
                //}); 
            }
        </script>

    </body>
</html>